
<meta charset="utf-8">
<head>

<title>The Garbage Zone</title>
</head>
<style>


path {
	stroke: steelblue;
	stroke-width: 2;
	fill: none;
}
.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}


.blink {
    font-style: italic; 
</style>

<body>

Noah, this website is <span class="blink">gARBAGE</span>
-Andrew Kurtz
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
console.log('omarion');
var rainbow_colors = ['red','orange','yellow','green','blue','violet']
$('.blink').each(function(){
    console.log('WELCOME TO THE JUNGLE')
    var elem = $(this);
    var letters = elem.text().split('');
    elem.text('');
    for (var i = 0, len=letters.length; i<len; i++){
        elem.append('<span style=color:'+rainbow_colors[i%rainbow_colors.length]
                +'>'+letters[i]+'</span>');
    }
    console.log(elem);
    setInterval(function() {
        if (elem.css('visibility') == 'hidden') {
            elem.css('visibility', 'visible');
        } else { elem.css('visibility','hidden'); }
    }, 100);
});
</script>
<script src="d3.v4.js", type="text/javascript"></script>
<script type="text/javascript">

// Set the dimensions of the canvas / graph
var margin = {top: 30, right: 20, bottom: 30, left: 50},
    width = 600 - margin.left - margin.right,
    height = 270 - margin.top - margin.bottom;

// Parse the date / time
var parseDate = d3.time.format("%d-%b-%y").parse;

// Set the ranges
var x = d3.time.scale().range([0, width]);
var y = d3.scale.linear().range([height, 0]);

// Define the axes
var xAxis = d3.svg.axis().scale(x)
    .orient("bottom").ticks(5);

var yAxis = d3.svg.axis().scale(y)
    .orient("left").ticks(5);

// Define the line
var valueline = d3.svg.line()
    .x([1,4])
    .y([2,4]);
    
// Adds the svg canvas
var svg = d3.select("body")
    .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
    .append("g")
        .attr("transform", 
              "translate(" + margin.left + "," + margin.top + ")");
var data = [1,3,4,4];
// Get the data

    // Scale the range of the data
    x.domain(d3.extent(data, function(d) { return d.date; }));
    y.domain([0, d3.max(data, function(d) { return d.close; })]);

    // Add the valueline path.
    svg.append("path")
        .attr("class", "line")
        .attr("d", valueline(data));

    // Add the X Axis
    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    // Add the Y Axis
    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis);
	svg.append("text")
		.attr("x", (width/2))
		.attr("y", 0 - (margin.top / 2))
		.attr("text-anchor", "middle")
		.style("font-size", "16px")
		.style("text-decoration", "underline")
		.text("Fucks given per time")


</script>
</body>

